<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- HTML Meta Tags -->
    <title>Mohamed Kharashy | Frontend developer ðŸš€ resume</title>
    <meta
      name="description"
      content="Frontend Developer âœ¨ Coding addict, JavaScript enthusiast, UI lover. Writing technical stuffâœï¸ about Frontend development. this is my resume"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://dev-mkr.me/resume" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mohamed Kharashy | Frontend developer ðŸš€" />
    <meta
      property="og:description"
      content="Frontend Developer âœ¨ Coding addict, JavaScript enthusiast, UI lover. Writing technical stuffâœï¸ about Frontend development. this is my resume"
    />
    <meta property="og:image" content="https://dev-mkr.me/assets/mkrlogoog.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="dev-mkr.me" />
    <meta property="twitter:url" content="https://dev-mkr.me/resume" />
    <meta name="twitter:title" content="Mohamed Kharashy | Frontend developer ðŸš€" />
    <meta
      name="twitter:description"
      content="Frontend Developer âœ¨ Coding addict, JavaScript enthusiast, UI lover. Writing technical stuffâœï¸ about Frontend development. this is my resume"
    />
    <meta name="twitter:image" content="https://dev-mkr.me/assets/mkrlogoog.png" />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <link rel="shortcut icon" type="image/jpg" href="../assets/mkrLogo.png" />
    <style>
      html,
      body {
        width: 100%;
        height: 100vh;
        margin: 0;
        text-align: center;
        overflow: hidden;
        border: none;
      }
    </style>
  </head>
  <body>
    <object
      data="/Mohamed Kharashy Front-end developer reactjs-nextjs.pdf"
      width="100%"
      height="100%"
      type="application/pdf"
    >
    </object>
  </body>
</html>
